<nav>
    <a href="/" class="nav-link <%= page === 'home' ? 'active' : '' %> " >HOME</a>
    <a href="/about" class="nav-link <%= page === 'about' ? 'active' : '' %> " >ABOUT</a>
    <a href="/contact" class="nav-link <%= page === 'contact' ? 'active' : '' %> " >CONTACT US</a>
</nav>